.brand {
  margin: auto;
  font-family: 'Staatliches', cursive;
  font-size: 6em;
  text-align: center;
  color: #F1C164;
  text-shadow: 5px 5px #16345A, 8px 8px #284D8E, 11px 11px #4D8CBF, 14px 14px #5FA9D9;
}
